{% extends "TuanQuynhAdminBundle::layout.html.twig" %}

{% block content %}
	{# PAGE TITLE #}
    {% include 'TuanQuynhAdminBundle:Partial:page_title.html.twig' with {'title': 'Change password'} %}

	<div class="wrapper wrapper-content">
		{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
	</div><!-- /.wrapper-content -->
{% endblock content %}
