{% extends "TuanQuynhAdminBundle::layout.html.twig" %}

{% block content %}
	{# PAGE TITLE #}
    {% include 'TuanQuynhAdminBundle:Partial:page_title.html.twig' with {'title': 'Profile edit'} %}

	<div class="wrapper wrapper-content">
		{% include "FOSUserBundle:Profile:edit_content.html.twig" %}
	</div><!-- /.wrapper-content -->
{% endblock content %}
